body, html {
	font-family: Amaranth;
	padding: 0;
	height: 100%;
	margin: 0;
	min-height: 100%;
}


.page-login {
	margin: 50px auto;
	padding: 2% 4% 4% 4%;
	width: 30%;
	opacity: 0.7;
	border-radius: 3%;
	color: #e8e5e0;
	background-color: #e81c27;
}

.page-login:hover {
	margin: 50px auto;
	padding: 2% 4% 4% 4%;
	width: 30%;
	opacity: 1;
	border-radius: 3%;
	color: #e8e5e0;
	background-color: #e81c27;
}

.page-login-container {
	padding: 0;
	margin: 0;
	width: 100%;
	background-image: url("img/tidehunter.jpg");
	background-position: center;
}

.page-login h1 {
	width: 100%;
	color: #FFF;
}

.page-login-form {
	width: 100%;
}


.header {
	flex: none;
	width: 100%;
	height: 65vh;
	color: red;
	margin: 0 auto;
	text-align: center;
	background-image: url("img/sf.png");
	background-position: center;
	background-repeat: no-repeat;
}

.header-inside {
	float: right;
	color: white;
	text-align: right;
	height: 50px;
	bottom: 0px;
	right: 15px;
	top: 60vh;
}

.header-inside input {
	padding: 8px 15px;
	border: 0px;
}


.header-inside button {
	position: relative;
	padding: 6px 15px;
	left: -8px;
	background-color: #00c8f8;
	border: 2px solid #00c8f8;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

.header ul li {
	display: inline;
	border-right: 1px solid white;
}

.header ul li:last-child {
	border-right: none;
}

.header ul li a {
	margin-top: 60vh;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
	color: red;
	display: inline-block;
}

.header ul li a:hover {
	color: #f85359;
}

.content-background {
	background-image: url("img/jugger.png");
	width: 100%;
	background-attachment: fixed;
	margin: 0 auto;
	background-repeat: no-repeat;
	padding-bottom: 0;
}
.clear-float {
	clear: both;
}

.content-container {
		margin-top: 3%;
		padding-bottom: 0;
}

.content {
	width: 60%;
	float: left;
	margin-left: 2%;
	opacity: 0.7;
	background-color: #FFF;
	padding: 1.5% 1.5%;	
	margin-bottom: 2%;
	font-family: 'Gentium Basic', serif;
	text-overfow: auto;
	overflow: hidden;
	text-align: left;
}

.content:hover {
	width: 60%;
	float: left;
	opacity: 1;
	background-color: #FFF;
	padding: 1.5% 1.5%;	
	text-align: left;
}

.content img {
	margin: 0.5% 1% 0.5% 0.5%;
	float: left;
}

	
	
.content p {
	text-align: left;
}

.isi-content {
	margin: 30px;
	letter-spacing: 2px;
	word-spacing: 3px;
}

.content h1 {
	margin: 0;
	padding: 0;
}
	
.aside-container {
	float: right;
	margin: 0;
	z-index: 2;
	display: block;
	top: 5%;
	padding: 0.5% 1% 0.5% 1%;
	width: 20%;
	border: 1px solid;
	background-color: #FFF;
}
	
.aside {
	float: left;
	height: 500px;
	display: block;
	clear: right;
	text-align: left;
	position: relative;
}

.paging {
	clear: both;
	margin-top: 40px;
	height: 50px;
	color: white;
	text-align: center;
}

.paging ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.paging ul li {
	display: inline;
}

.footer {
	clear: both;
	margin-top: 3%;
	padding: 10px;
	color: black;	
	bottom: 0px;
	background-color: #FFF;
	text-align: center;
}


.footer a {
	color: #333333;
}

	
	
.judul {
	display: block;
	text-decoration: none;
	color: black;
}

.footer-regis {
	clear: both;
	margin-top: 5px;
	position: relative;
	width: 100%;
	padding: 10px;
	color: #e8e5e0;
	text-align: center;
}

.footer-regis a {
	color: #e8e5e0;
}

.footer-regis a:hover {
	color: #e81c27;
}

/* login.php */

.login-container-background {
	width: 100%;
	background-image: url("img/sf.png");
	height: 100%;
}

.login-form {
	color: white;
	position: absolute;
	opacity: 0.7;
	margin-top: -100px;
	border-radius: 3%;
	margin-left: -200px;
	left: 50%;
	background-color: #e81c27;
	top: 50%;
	width: 400px;
	text-align: center;
	border: 1px solid black;
}

.login-form form {
	margin: 0 auto;
	
}

.login-form p {
	text-align: left;
	padding-left: 3%;
}

.login-form a {
	font-size: 18px;
	color: white;


}

.login-form a:hover {
	color: blue;
}


.logout {
	margin: 0 auto;
	padding: 5%;
}

.aside a {
	font-size: 19px;
	z-index: 1;
	font-weight: bold;
	color: black;
}

.aside a:hover {
	color: red;
}

/*.logout-img img a {
	content: url("img/logout1.png");
}

.config-img img a {
	content: url("img/config1.png");
}
*/

.logout-img {
	float: left;
}

.config-img {
	float: left;	
	margin-left: 30px;
	position: relative;
}

.logout-img img:hover {
	content: url("img/logout2.png");
	cursor:  pointer;
}

.config-img img:hover {
	content: url("img/config2.png");
	cursor: pointer;
}

/* CMS.php */
.content-cms {
	background-color: white;
	padding: 20px;
	margin: 0 auto;
	width: 60%;
	height: 50%;
}

.content-cms h1 {
	text-align: center;
	text-weight: bold;
}

.content-cms table {
	margin: 0 auto;
}

.content-cms a {
	text-decoration: none;
	color: black;
}

.content-cms a:hover {
	color: red;
}

/* paging */


.paging table {
	margin:0 auto;
	background-color: #FFF;
	opacity: 0.8;
}

.paging ul {
	list-style-type: none;
}

.paging ul li {
	display: inline;
}

.paging ul li a {
	text-decoration: none;
	color: black;
	font-size: 24px;
	padding: 5px;
}

.paging ul li a:hover {
	text-decoration: none;
	color: red;
	font-size: 24px;
}

/* SHOWPOST */

.content-showpost {
	width: 61%;
	float: left;
	margin-left: 2%;
	background-color: #FFF;
	padding: 1.5% 1.5%;	
	margin-bottom: 2%;
	text-align: left;
}

.content-showpost h1 {
	padding-bottom: 50px;
}



/* SHOW PROFILE */

.content-cms table td {
	padding: 2%;
}

/* Comments */

.right {
	float: left;
	width: 49%;
	text-align: center;
}

.left {
	float: left;
	width: 49%;
	text-align: center;
}

.comments {
	width: 60%;
	margin-top: 2%;
	border: 1px solid;
	padding: 0 2% 2% 2%;
	background-color: #FFF;
	margin-left: 2%;
}

.comments textarea {
	margin: 0px; 
	width: 513px; 
	height: 159px;
}

.comments-isi {
	width: 80%;
	border: 1px solid;
	background-color: #222222;
	color: #FFF;
	padding: 2%;
	margin-bottom: 4%;
}
#search-result {
	float: right;
	position: relative;
	text-align: left;
	background: #353535;
	padding: 5px;
	bottom: 0px;
	display: block;
	line-height: 16px;
	opacity: 0.9;
	right: 20px;
	max-height: 100px;
	max-width: 400px;
	z-index: 99;
	overflow-y: auto; 
	overflow-x: hidden;
	font: normal 12px "Tahoma" , Arial, Helvetica, sans-serif;
}

#search-result a {
	text-decoration: none;
	color: #eee;
	display: inline-block;
	z-index: 99;
}

#search-result a:hover {
	background-color: #5d666f;
	z-index: 99;
}


	
	
	
	
	
	
	